post-details {
	
	.omsc-toggle-title {
		font-weight: 700;
	}
	
	// The Table/"<ul>"
	.omsc-toggle-inner {

		margin-left: 1rem;

		tr {

			display: block;

			td:first-of-type {
				width: 75%;
				float: left;
				margin-bottom: 2rem;
			}

			td:last-of-type {
				width: 25%;
				text-align: right;
				float: right;
			}

			&:after {
				clear: both;
			}

			&:last-of-type {

				td:first-of-type {
					margin-bottom: 0;
				}

			}

		}

	}
	
}